@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poetsen+One&display=swap');
@import "tailwindcss";

@theme{
  --color-primary: #e8662a;
  --color-primary-dull: #bf4b11;
}

*{
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

body{
  color: white;
  background-color: #09090B;
}

.no-scrollbar{
  scrollbar-width: none;
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fadeSlide {
  animation: fadeSlide 0.6s ease-in-out;
}
